In [1]:
import pandas as pd

In [11]:
sample_df = pd.read_csv("sample.csv",names=['id','name','ch','ph','en','math'],skiprows=1)

In [12]:
print(sample_df)

    id         name  ch  ph  en  math
0  A01     arif ali  20  30  40    50
1  A02  kamran khan  30  40  50    60
2  A03    imran ali  40  50  60    70
3  A04  kashif khan  50  60  70    80